* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000111;
  width: 100%;
  height: 100vh;
  gap: 5%;
  position: relative;

}

.balloons {
  background-image: url('../public/bal.png');
  background-size: 200px 100px;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;

}

.container h1 {
  font-size: 6rem;
  font-family:cursive;

  color: rgba(255, 255, 0, 0.8);
 /* color: pink; */
  text-transform: uppercase;
  text-wrap: wrap;
  text-align: center;
}

.container .vid{

}