* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
overflow: auto;
scrollbar-width: none; 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}


.container {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000111;
  width: 100vw;
  height: 100vh;
  gap: 5%;
  position: relative;


}

.balloons {
  background-image: url('../public/bal.png');
  background-size: 200px 100px;
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;

}

@keyframes wiggle{
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* @keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
} */

.container h1 {
  font-size: 6rem;
font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 0, 0.8);
 /* color: pink; */
  text-transform: uppercase;
  text-wrap: wrap;
  text-align: center;
  width: 100%;
  
}

@media screen and (min-width: 360px) {
  .container h1 {
    font-size: 3rem;
  }

  .container .vid {
    max-width: 350px;

    padding: 0;
  }
  
}

.wiggle {

  animation: wiggle 2.5s infinite;
}

.container .vid{


}